* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}

.center {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

.header {
    width: 100%;
    height: 60px;
    padding: 0 2%;
    background-color: #212343;
}

.header img {
    margin: 18px;
}

.container-banner {
    width: 100%;
    height: 547px;
    padding: 0 2%;
    background-size: cover;
    background-position: center;
    background-image: url('../img/header_bg.png');
}

.container-banner .center {
    height: 100%;
}

.form {
    top: -15px;
    float: right;
    width: 400px;
    padding: 15px;
    position: relative;
    height: calc(100% + 30px);
    background-clip: padding-box;
    background-color: whitesmoke;
    border: 8px solid rgba(120, 120, 120, 0.3);
}

.form h2 {
    font-size: 21px;
    color: #999999;
    text-align: center;
    font-weight: normal;
}

.input-container {
    margin-top: 20px;
}

.input-container span,
.form p {
    width: 100%;
    font-size: 17px;
    color: #bbbbbb;
    display: inline-block;
}

.input-container input[type=text] {
    width: 344px;
    height: 55px;
    margin-top: 8px;
    padding: 5px 10px;
    border: 1px solid #cccccc;
}

.input-container input[type=text]:focus {
    outline: 0;
}

.form p {
    margin: 25px 0;
}

.form .input-submit-container {
    text-align: center;
}

.form input[type=submit] {
    border: 0;
    width: 280px;
    height: 56px;
    cursor: pointer;
    font-size: 25px;
    color: whitesmoke;
    display: inline-block;
    background-color: #363a6d;
}

.form input[type=submit]:hover {
    background-color: #323665;
}

.container-list {
    float: left;
    width: 619px;
    height: 270px;
    padding: 30px;
    margin-top: 60px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    margin-top: 10px;
    color: whitesmoke;
}

.container-2 {
    padding: 65px 2%;
    text-align: center;
    background-color: #ddd;
}

.container-2 h2 {
    font-weight: normal;
}

.container-2 p {
    width: 100%;
    margin: 15px 0;
    max-width: 768px;
    text-align: justify;
    display: inline-block;
}

.arrow {
    left: 50%;
    top: -25px;
    width: 45px;
    height: 45px;
    margin-left: -20px;
    position: relative;
    background-size: 100% 100%;
    background-image: url('../img/arrow.png');
}

.container-section {
    margin-top: 30px;
    text-align: center;
}

.container-single {
    float: left;
    padding: 25px;
    width: 33.33%;
}

.section-1 {
    padding: 60px 2%;
}

.section-1 h2 {
    color: #462663;
    text-align: center;
    font-weight: normal;
}

.container-single img {
    width: 60px;
    height: 60px;
}

.container-single p {
    padding: 10px 25px;
    text-align: justify;
}

.footer {
    padding: 20px 0;
    color: #888888;
    text-align: center;
    border-top: 2px solid #888888;
}

.footer p {
    margin-top: 8px;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 100%;
        height: auto;
        padding: 15px 0%;
        text-align: center;
    }

    .header img {
        margin: 0;
    }

    .container-banner {
        width: 100%;
        height: auto;
        padding: 40px 2%;
        text-align: center;
    }

    .form {
        top: 0;
        width: 60%;
        float: right;
        height: 100%;
        padding: 10px;
        max-width: 400px;
    }

    .container-list {
        width: 40%;
        float: left;
        height: auto;
        max-width: 500px;
    }
    
    .input-container input[type=text] {
        width: 100%;
        height: 55px;
    }

    .form input[type=submit] {
        width: 280px;
        height: 56px;
        max-width: 280px;
    }
}

@media screen and (max-width: 768px) {

    .container-2 p {
        padding-left: 4%;
        padding-right: 4%;
    }

    .container-list {
        width: 100%;
        float: none;
        margin-top: 0;
        display: inline-block;
    }

    .form {
        width: 100%;
        float: none;
        margin-top: 30px;
        display: inline-block;
    }

    .container-single {
        float: none;
        width: 100%;
        padding: 30px 0;
        max-width: 600px;
        display: inline-block;
    }
}